---
import IndexLayout from "@/layouts/IndexLayout.astro";
import PostList from "@/components/widgets/PostList.astro";
import { themeConfig } from "@/config";
import { getSortedFilteredPosts } from "@/utils/draft";
import SocialIcons from "@/components/ui/SocialIcons.astro";
import profilePicture from "@/media/profile_picture.jpg";
import InterestsContent from "@/components/widgets/Interests.astro";

const posts = await getSortedFilteredPosts();
---

<IndexLayout
    title={themeConfig.site.title}
    description={themeConfig.site.description}
>
    <a class="site-title">{themeConfig.site.title}</a>
    <div class="home-intro">
        <div class="home-icons">
            <SocialIcons
                class="icons"
                twitter="json_yim"
                linkedin="jason-yim-92173b97"
                github="jasonkyuyim"
                scholar="8wDe9NAAAAAJ"
            />
        </div>
        <div class="home-picture">
            <img
                class="profile-image"
                src={profilePicture.src}
                width={profilePicture.width}
                height={profilePicture.height}
                alt="Profile picture of Jason Yim"
                loading="eager"
            />
        </div>
    </div>
    <a class="interest-summary">Interests</a>
    <InterestsContent />
    <!-- <a class="post-list">Blog</a>
    <main>
        Coming soon...
        <PostList posts={posts} />
    </main> -->
</IndexLayout>

<style>
    .interest-summary {
        font-weight: 600;
        font-size: 1.5rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        color: var(--text-primary);
        display: inline-block;
    }
    .post-list {
        font-weight: 600;
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: var(--text-primary);
        display: inline-block;
    }
    .site-title {
        font-weight: 700;
        font-size: 2.0rem;
        color: var(--text-primary);
        text-decoration: none;
        display: inline-block;
    }
    .home-title {
        font-size: clamp(2rem, 3vw, 2.5rem);
        margin-bottom: 0.65rem;
    }

    .home-description {
        color: var(--text-secondary);
        margin: 0;
    }
    .home-about .prose > *:first-child {
        margin-top: 0;
    }
    .icons {
        display: flex;
        flex-direction: column;
        gap: 0.35rem;
    }
    .home-picture {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .profile-image {
        width: 13rem;
        height: 17rem;
        border-radius: 0.35rem;
        object-fit: cover;
    }
    .home-intro {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1.5rem;
    }
</style>
